<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Evanzlj">
    <title>网页版悄悄话~</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/js/jquery-1.11.3.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>

<body>

<% include header.ejs %>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container container-prev-header">
        <h1>欢迎来到悄悄话</h1>

        <p>在这里，祝你能够找到真爱~~~~</p>
    </div>
</div>

<div class="container">
    <footer>
        <p>&copy; Company 2014</p>
    </footer>
</div>


</body>
</html>
